.friend-list {
    width: 300px;
    height: 350px;
    overflow-y: scroll;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.account-info {
    max-width: 500px;
    max-height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid ;
    padding: 10px;
    justify-content: center; /* Center horizontally */
}


.dropdown-menu {
    background-color: #3498db;
}

.custom-color-dropdown-btn{
    background-color: #3498db;
    border-color: #3498db;
}
.custom-color-dropdown-btn:hover{
    background-color: #3498db;
}
.custom-color-dropdown-btn:active{
    background-color: #3498db;
}
