.friend-list {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.account-info {
    max-width: 500px;
    max-height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid ;
    padding: 10px;
    justify-content: center; /* Center horizontally */
}


.dropdown-menu {
    background-color: #3498db;
}

.custom-color-dropdown-btn{
    background-color: #3498db;
    border-color: #3498db;
    color: white;
}

.custom-color-dropdown-btn:hover{
    background-color: #3498db;

}

.dropdown-menu .dropdown-item {
    text-align: left;
}
.custom-color-dropdown-btn:focus {
    background-color: #3498db;

}

/*.bottom-right-image {*/
/*    position: fixed;*/
/*    bottom: 20px; !* Adjust this value to position vertically from the bottom *!*/
/*    right: 20px; !* Adjust this value to position horizontally from the right *!*/
/*    width: 125px; !* Set width *!*/
/*    height: 100px; !* Set height *!*/
/*}*/

.top-left-image {
    position: fixed;
    top: -35px; /* Adjust this value to position vertically from the top */
    left: 10px; /* Adjust this value to position horizontally from the left */
    width: 325px; /* Set width */
    height: 200px; /* Set height */
}
.flipped {
    position: fixed;
    bottom: 160px; /* Adjust this value to position vertically from the bottom */
    right: -190px; /* Adjust this value to position horizontally from the right */
    width: 570px; /* Set width */
    height: 300px; /* Set height */
    transform: rotate(-90deg);
}
.center-image {
    position: fixed;
    left: 140px;
    top: 70px;
    height: 600px;
    width: 870px; /* Set width */


}