.friend-list {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.account-info {
    max-width: 500px;
    max-height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid ;
    padding: 10px;
    justify-content: center; /* Center horizontally */
}


.dropdown-menu {
    background-color: #3498db;
}

.custom-color-dropdown-btn{
    background-color: #3498db;
    border-color: #3498db;
    color: white;
}

.custom-color-dropdown-btn:hover{
    background-color: #3498db;

}

.dropdown-menu .dropdown-item {
    text-align: center;
}
.custom-color-dropdown-btn:focus {
    background-color: #3498db;

}